<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheResult="false">
    <testsuites>
        <testsuite name="application">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="false">
        <include>
            <file>auth.php</file>
            <file>author_search.php</file>
            <file>book_files.php</file>
            <file>book_metadata.php</file>
            <file>cart.php</file>
            <file>compilation.php</file>
            <file>config.php</file>
            <file>mail.php</file>
            <file>migrations.php</file>
            <file>opds_auth.php</file>
            <file>tools/app_scan_books.php</file>
            <file>tools/app_worker.php</file>
        </include>
    </coverage>
</phpunit>
